{
	"presets": [
		"next/babel"
	],
	"plugins": [
		[
			"styled-components",
			{
				"ssr": true,
				"displayName": true,
				"preprocess": false
			}
		],
		"syntax-dynamic-import",
		"universal-import",
		[
			"react-intl",
			{
				"messagesDir": "./src/messages/"
			}
		]
	]
}