<!DOCTYPE html>
<html lang="de">

<head>
	<meta charset="utf-8">
	<meta name="keywords" content="">
	<meta name="author" content="Nico Hauser">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="apple-touch-icon" sizes="57x57" href="/wp-content/themes/feuerschutz/img/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/wp-content/themes/feuerschutz/img/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/wp-content/themes/feuerschutz/img/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/wp-content/themes/feuerschutz/img/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/wp-content/themes/feuerschutz/img/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/wp-content/themes/feuerschutz/img/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/wp-content/themes/feuerschutz/img/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/wp-content/themes/feuerschutz/img/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/wp-content/themes/feuerschutz/img/favicons/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="/wp-content/themes/feuerschutz/img/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/wp-content/themes/feuerschutz/img/favicons/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/wp-content/themes/feuerschutz/img/favicons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/wp-content/themes/feuerschutz/img/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/wp-content/themes/feuerschutz/img/favicons/manifest.json">
	<link rel="shortcut icon" href="/wp-content/themes/feuerschutz/img/favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/wp-content/themes/feuerschutz/img/favicons/mstile-144x144.png">
	<meta name="msapplication-config" content="/wp-content/themes/feuerschutz/img/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	<meta name="format-detection" content="telephone=no">

	<title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
	<div id="root"></div>

	<noscript>
		<h1>Javascript</h1>
		<p>Bitte aktivieren Sie Javascript um diese Webseite zu verwenden.</p>
		<p>Bei Fragen können Sie uns telefonisch unter der Nummer
			<a href="tel:+41628340540">
				062 834 05 40
			</a> oder per
			<a href="mailto:info@feuerschutz.ch">
				E-Mail (info@feuerschutz.ch)
			</a> erreichen.</p>
	</noscript>
</body>

</html>