<!DOCTYPE html>
<html lang="de">

<head>
	<script>
		window._paq = [["setTrackerUrl", "//stats.feuerschutz.ch/m"], ["setSiteId", "1"]];
	</script>
	<script src="//stats.feuerschutz.ch/m.js" type="text/javascript" async defer></script>
</head>

<body>
	<noscript>
		<div style="color:#fff;background-color:#000000;position:fixed;top:0;left:0;right:0;z-index:100;padding: 1rem;">
			<h1 style="margin:0;">Hinweis</h1>
			<p>Bitte aktivieren Sie Javascript um diese Webseite zu verwenden.</p>
			<p>Bei Fragen können Sie uns telefonisch unter der Nummer
				<a href="tel:+41628340540" style="color:#fff">
					062 834 05 40
				</a> oder per
				<a href="mailto:info@feuerschutz.ch" style="color:#fff">
					E-Mail (info@feuerschutz.ch)
				</a> erreichen.</p>
			</p>
		</div>
		<p><img src="//stats.feuerschutz.ch/m.php?idsite=1&amp;rec=1" style="border:0;" alt="" /></p>
	</noscript>
	<div id="root"></div>
</body>

</html>